/* You can add styles that are specific to your story here, based on class names that you assigned using the ClassName component. */

.Storyline__Item--opening p:first-child:first-letter {
  font-size: 200%;
}


.GamePage--cottage .Current-location {
  background-color: #cc9857;
}

.GamePage--river .Current-location {
  background-color: #7abde4;
}

.GamePage--woods .Current-location {
  background-color: #325016;
}

.GamePage--grandmasHouse .Current-location {
  background-color: #613f0c;
}
