$base-color: white;
$secondary-color: black;


body {
    margin: 0;
    background: $base-color;
    color: $secondary-color;
}

.container {
    width: 90%;
    margin: auto;
}

.game {
    display: flex;
}

.world {
    flex: 1 0 auto;
}

.narrative {
    flex: 1 0 50%;
    padding: 0 5em;
}

.entity {
    cursor: pointer;
}
